<router-outlet></router-outlet>
<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="inputOperator('DEL')">Reset Counter</button>


<div class="container">
    <form action="" name="calc" class="calculator">
        <input type="text" class="value" readonly name="txt" value="{{res}}" />
        <span class="num clear" (click)="inputOperator('C')"><i>C</i></span>

        <app-button [name]="'/'" (click)="inputOperator('/')"></app-button>
        <app-button [name]="'*'" (click)="inputOperator('*')"></app-button>
        <app-button [name]="'7'" (click)="inputNumber('7')"></app-button>
        <app-button [name]="'8'" (click)="inputNumber('8')"></app-button>
        <app-button [name]="'9'" (click)="inputNumber('9')"></app-button>
        <app-button [name]="'-'" (click)="inputOperator('*')"></app-button>
        <app-button [name]="'4'" (click)="inputNumber('4')"></app-button>
        <app-button [name]="'5'" (click)="inputNumber('5')"></app-button>
        <app-button [name]="'6'" (click)="inputNumber('6')"></app-button>
        <span class="num plus" (click)="inputOperator('+')"><i>+</i></span>
        <app-button [name]="'1'" (click)="inputNumber('1')"></app-button>
        <app-button [name]="'2'" (click)="inputNumber('2')"></app-button>
        <app-button [name]="'3'" (click)="inputNumber('3')"></app-button>
        <app-button [name]="'0'" (click)="inputNumber('0')"></app-button>
        <app-button [name]="'00'" (click)="inputNumber('00')"></app-button>
        <app-button [name]="'.'" (click)="inputNumber('.')"></app-button>
        <span class="num equal" (click)="inputOperator('=')"><i>=</i></span>

    </form>
</div>